In [393]:
import numpy as np
from numpy.linalg import inv
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import tensorflow as tf
bce_loss = tf.keras.losses.BinaryCrossentropy()

In [394]:
data = pd.read_csv("abalone.csv")
data

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [395]:
corr = data.corr()
corr

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
Length,1.000000,0.986812,0.827554,0.925261,0.897914,0.903018,0.897706,0.556720
Diameter,0.986812,1.000000,0.833684,0.925452,0.893162,0.899724,0.905330,0.574660
Height,0.827554,0.833684,1.000000,0.819221,0.774972,0.798319,0.817338,0.557467
Whole weight,0.925261,0.925452,0.819221,1.000000,0.969405,0.966375,0.955355,0.540390
Shucked weight,0.897914,0.893162,0.774972,0.969405,1.000000,0.931961,0.882617,0.420884
Viscera weight,0.903018,0.899724,0.798319,0.966375,0.931961,1.000000,0.907656,0.503819
Shell weight,0.897706,0.905330,0.817338,0.955355,0.882617,0.907656,1.000000,0.627574
Rings,0.556720,0.574660,0.557467,0.540390,0.420884,0.503819,0.627574,1.000000

In [396]:
# sns.pairplot(data)

In [397]:
X = data[['Length','Diameter','Height','Whole weight','Shucked weight','Viscera weight','Shell weight']].values  

y = data['Rings'].values
X.shape

(4177, 7)

In [398]:
X_train, X_test, y_train, y_test = train_test_split(X, y)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3132, 7)
(1045, 7)
(3132,)
(1045,)

In [399]:
class LinearLeastSquare:
    def __init__(self):
        pass

    def fit(self,X,Y):
        self.w = np.matmul(inv(np.matmul(X.T,X)), np.matmul(X.T,Y))

    def predict(self, w):
        Rings_pred= np.matmul(X_test,self.w)
        return Rings_pred   
    
    def evaluate(self , X , Y , loss="MAE"):
        Y_pred = []
        for i in range(X.shape[0]):
            y_pred = self.predict(X[i])
            Y_pred.append(y_pred)
            
        Y_pred = np.array(Y_pred)
        Error = Y - Y_pred
        
        if loss == "MAE":
            return np.mean(np.abs(Error))
        elif loss == "MSE":
            return np.mean(Error**2)

In [400]:
lls = LinearLeastSquare()
lls.fit(X_train,y_train)

In [401]:
lls.w

array([  5.60392757,  15.13474245,  11.99033776,   9.83980145,
       -22.59352046, -12.59971398,   5.7210366 ])

In [407]:
y_pred = lls.predict(X_train)

In [408]:
MAE = lls.evaluate(X_test, y_test,'MAE')

print('MAE = ',MAE)

MAE =  1.6382895117528848

In [419]:
# MAE
mae = tf.keras.losses.MeanAbsoluteError()
mae(y_test, y_pred).numpy()

1.6382895708084106

In [422]:
MSE = lls.evaluate(X_test, y_test,'MSE')

print('MSE = ' ,MSE)

MSE =  5.056331156592254

In [423]:
# MSE
mse = tf.keras.losses.MeanSquaredError()
mse(y_test, y_pred).numpy()

5.056331157684326

In [424]:
# Huber loss
hub_loss = tf.keras.losses.Huber()
hub_loss = hub_loss(y_test, y_pred).numpy()
print('hub_loss = ',hub_loss)

hub_loss =  1.2108258

In [425]:
#Hinge loss
hinge_loss = tf.keras.losses.Hinge()
hinge_loss = hinge_loss(y_test, y_pred).numpy()
print('hinge_loss = ',hinge_loss)

hinge_loss =  0.03775228559970856